<div class="row justify-content-center mt-4 animate__animated animate__zoomIn animate__faster mb-4">
    <div class="col-xl-7 col-lg-9">
        
        <div class="search-box">
            <input #txtBuscar (keyup)="search(txtBuscar.value)" class="form-control search-bar" placeholder="Buscar artista...">
            <img src="assets/img/ico-buscar.svg" class="search-icon" alt="Search Icon" width="20">
        </div>
        

    </div>
</div>

<app-loading *ngIf="!loaded && !errorMessage"></app-loading>

<app-error-alert *ngIf="errorMessage" [errorObject]="errorMessage"></app-error-alert>

<app-card *ngIf="loaded" [items]="results"></app-card> 

<div *ngIf="!matches" style="height: 72vh;" class="d-flex justify-content-center align-items-center">
    <h1 style="font-size: 2.3rem" class="text-light display-4">No se encontraron resultados.</h1>
</div>
