<nav style="background-color: rgb(34, 33, 33)" class="navbar navbar-expand-sm navbar-dark sticky-top">
  
  <a class="navbar-brand">
      <img src="assets/img/spotiapp.png" alt="Logo SpotiApp">
      SpotiApp
  </a>

  <a class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </a>

  <div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav">
      <a [routerLink]="[ 'home' ]" routerLinkActive="active" class="nav-link">Inicio</a>
      <a [routerLink]="[ 'search' ]" routerLinkActive="active"  class="nav-link">Buscar</a>
    </div>
  </div>

</nav>
